body {
    background-color: black;
}

.greenclass {
    border: 1px solid green;
    color: green;
    width: 200px;
    background-color: white;
    font-size: 16px;
    text-align: center;
    font-weight: 200;
    margin-left: 140px;
}

.yellowclass {
    border: 1px solid whitesmoke;
    color: black;
    width: 200px;
    background-color: yellowgreen;
    font-size: 16px;
    text-align: center;
    font-weight: 200;
    margin-left: 120px;
}

.redclass {
    border: 1px solid whitesmoke;
    color: black;
    width: 250px;
    background-color: red;
    font-size: 16px;
    text-align: center;
    font-weight: 200;
    margin-left: 120px;
}

#container {
    margin: auto;
    display: block;
    color: white;
}

#container h1 {
    text-align: center;
    color: whitesmoke;
}

#container h2 {
    text-align: center;
    color: grey;
}

#container p {
    font-size: 16px;
}

#app {
    margin-top: 50px;
    margin-left: 550px;
    

}

input{
    width: 350px;
    height: 30px;
}

button {
    margin-top: 10px;
    margin-left: 130px;
    width: 100px;
    height: 30px;
    background-color: green;
    color: honeydew;
}

@media (max-width: 479px)  {
    #container{
        margin-left: 5px;
    }

    #container h1{
        font-size: 15px;
        margin-left: -5px;
    }

    #container p {
        font-size: 12px;
        margin-left: -12px;
        word-wrap: break-word;
    }

    #container h2 {
        margin-left: -15px;
    }

    #app {
        margin-left: 50px;
    }

    button {
        margin-left: 80px;
    }
}

